---
layout: default
---
<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-link {{ post.author }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.excerpt | strip_html | strip_newlines | truncate:50 }}</p>
        <span class="post-meta"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%Y/%m/%d" }}</span>
      </li>
      <hr>
    {% endfor %}
  </ul>

  <!-- 分页链接 -->
  {% if paginator.total_posts > site.paginate %}
    <nav>
      <ul class="pager">
        {% if paginator.previous_page == 1 %}
          <li><a href="/">Previous</a></li>
        {% else %}
            {% if !paginator.previous_page %}
              <li><a href="/page{{paginator.previous_page}}">Previous</a></li>
            {% else %}
              <li><a href="javascript:;" onclick="alert('No More')">Previous</a></li>
            {% endif %}
        {% endif %}

        {% if paginator.next_page %}
          <li><a href="/page{{paginator.next_page}}">Next</a></li>
        {% else %}
          <li><a href="javascript:;" onclick="alert('No More')">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  <!-- pagination -->
</div>

<script type="text/javascript">
  $(function() {
    $('.sunnyday').attr('href', '#');
    $('.sunnyday').click(function () {
      var passWord = prompt('请输入查看密码!!!');
      if (hex_md5(passWord) === 'd569e7165b01adda3f1dbb74faa5f6e7') {
        window.location.href = '/2016/07/11/laravel.html';
      }
    });
  });
</script>